
    <form (submit)="onRegisterSubmit()" >
        <label for="name">Name</label>
          <input type="text" name="name" id="name" [(ngModel)]="name">
        <label for="username">Username</label>
          <input type="text" name="username" id="username" [(ngModel)]="username">
        <label for="email">Email</label> 
          <input type="email" name="email" id="email" [(ngModel)]="email">
        <label for="password">Password</label>
          <input type="password" name="password" id="password"[(ngModel)]="password">
      <input type="submit"  class="button" value="Submit">
    </form>