<header></header>
<body>
<div class="container">
    <div class="navigation">
        <div class="navigation-button" *ngIf="authService.isTokenExp()"><a class="button" routerLink="./login">Sign In/Sign Up<mat-icon>account_circle</mat-icon> </a></div>
        <div class="navigation-button" *ngIf="!authService.isTokenExp()"><a class="button" routerLink="./profile">Account<mat-icon>account_circle</mat-icon> </a></div>
        
        <div class="navigation-button"><a class="button" routerLink="./emergency">Emergency <mat-icon>emergency</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./documents">Documents <mat-icon>folder</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./certificates">Certificates <mat-icon>card_membership</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./incidents">Incidents <mat-icon>personal_injury</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./whmis">WHMIS <mat-icon>science</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./site-details">Site Details <mat-icon>terrain</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./flha">FLHA <mat-icon>warning_amber</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./covid">COVID <mat-icon>coronavirus</mat-icon> </a></div>
        <div class="navigation-button"><a class="button" routerLink="./concerns">Concerns <mat-icon>add</mat-icon> </a></div>
    </div>
</div>
<div class="main-page">
<router-outlet></router-outlet>
</div>
</body>
